// Define color variables
$color-dark-green: #16302B;
$color-purple: #5C5D8D;
$color-grey: #99A1A6;
$color-light-green: #A8C69F;
$color-lighter-green: #CCE2A3;

body {
    font-family: 'Arial', sans-serif;
    color: $color-grey;
    background-color: $color-dark-green;
}

a {
    color: $color-purple;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

button {
    background-color: $color-light-green;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        background-color: $color-lighter-green;
    }
}

// Utility classes
.hide {
    display: none;
}


.main-nav {
  background-color: #5C5D8D; // purple
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  ul {
      list-style: none;
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;

      li {
          margin: 0 20px;

          a {
              color: white;
              text-decoration: none;
              transition: color 0.3s ease;

              &:hover {
                  color: #A8C69F; // light green
              }
          }

          .logout button {
              background: none;
              color: white;
              border: 1px solid white;
              padding: 5px 15px;
              border-radius: 5px;
              cursor: pointer;

              &:hover {
                  background: white;
                  color: #5C5D8D; // purple
              }
          }
      }
  }
}
