<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username" placeholder="Enter username">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" placeholder="Enter password">
  </div>
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  <button type="submit" [disabled]="!loginForm.valid">Log In</button>
</form>
