
$background-main: #16302b;

$color-white: rgba(255, 255, 255, 0.13);
$border-color: #A8C69F;
$text-color: #16302B;
$placeholder-color: #A8C69F;
$input-bg-color: #5c5d8d00;
$login-hover-bg: #5c5d8dc9;

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-main;
}

.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;

  }


form {
  height: 520px;
  width: 400px;
  background-color: $color-white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid $border-color;
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
  font-family: "Poppins", sans-serif;
  color: $text-color;

  h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
  }

  label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
  }

  input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: $input-bg-color;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;

    &::placeholder {
      color: $placeholder-color;
    }
  }

  button {
    margin-top: 50px;
    width: 100%;
    background-color: #A8C69F;
    color: $background-main;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: $login-hover-bg;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
